html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.myFieldSet {
    display: inline-block;
}

.leftColumn {
    background: url('gradient_left.png') repeat-y left;
    float: left;
    width: 30%;
    height: 100%;
}

.middleColumn {
    align-content: center;
    text-align: center;
    float: left;
    width: 40%;
}

.rightColumn {
    background: url('gradient_right.png') repeat-y right;
    float: left;
    width: 30%;
    height: 100%;
}

.bottomLogo {
    background: url('logo_smallest.png') no-repeat bottom center;
    height: 276px;
}
