.myFieldSet {
    display: inline-block;
}

#leftColumn {
    url('left_tile.gif') repeat-y left;
    float:left;
    width:20%;
    height:1000px;
}

#rightColumn {
    url('right_tile.gif') repeat-y right;
    float:right;
    width:20%;
    height:1000px;
}

#bottomLogo {
    url('logo_small.png') bottom;
}

