<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet"
          th:href="@{/css/fieldset.css}"
          href="../../css/fieldset.css"/>
</head>
<body>
    <div align="center">
        <h3>Creating input dataflow...</h3>
        <fieldset class="myFieldSet">
            <fieldset>
                <legend>Dataflow name</legend>
                <p th:text="${InputDataflowModel.dataflowName}" />
            </fieldset>
            <fieldset>
                <legend>Creation result</legend>
                <!--@thymesVar id="result" type="String"-->
                <p th:text="${result}" />
            </fieldset>
        </fieldset>
        <div th:include="fragments/backToManagement :: inputDataflow"></div>
        <div th:include="fragments/footer :: footer"></div>
    </div>
</body>
</html>