<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet"
          th:href="@{/css/style.css}"
          href="../../css/style.css"/>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="application/javascript" th:src="@{/js/generateTable.js}"></script>
    <!--<script type="application/javascript" th:inline="javascript">
        /*<![CDATA[*/
        function paintTable(){
            var selected = $("#exchangeSelect").find("option:selected").text();
            var URL = "http://localhost:8080/getSchema?name=" + selected;
            $.getJSON(URL, function(data) {
                successCallBack(data);
            });

            function successCallBack(data) {
                $("#dyntable").find("tbody").empty();
                $.each(data, function (k, v) {
                    var newRowContent = "<tr><td><input type=\"checkbox\" checked=\"true\"></td>" +
                            "<td>" + k + "</td>" +
                            "<td>" + v + "</td></tr>";
                    $("#dyntable").find("tbody").append(newRowContent);
                });
            }
        }
        /*]]>*/

    </script>-->
</head>
<body>
    <div align="center">
        <p><input id="text"/></p>
        <h3>Enter input dataflow information</h3>
        <form action="#" th:action="@{/addInputDataflow}" th:object="${EventTypeModel}" method="post">
            <div align="center">
                <fieldset class="myFieldSet">
                    <fieldset>
                        <legend>Input dataflow name</legend>
                        <p><input type="text" th:field="*{eventType}" /></p>
                    </fieldset>
                    <fieldset>
                        <legend>Exchange</legend>
                        <p>
                            <!--@thymesVar id="availExchanges" type="Map"-->
                            <select id="exchangeSelect" th:field="*{exchange}" onchange="paintTable()">
                                <option th:each="oneExchange: ${availExchanges}" th:value="${oneExchange.key}" th:text="${oneExchange.key}">Available exchanges</option>
                            </select>
                        </p>
                    </fieldset>
                    <fieldset>
                        <legend>Event properties</legend>
                        <table id="dyntable">
                            <tbody>
                            <!--TODO figure out how to convert to map-->
                            </tbody>
                        </table>
                    </fieldset>
                    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset"/></p>
                </fieldset>
            </div>
        </form>
        <div th:include="fragments/backToManagement :: inputDataflow"></div>
        <div th:include="fragments/footer :: footer"></div>
    </div>
</body>
</html>
