<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet"
          th:href="@{/css/fieldset.css}"
          href="../../css/fieldset.css"/>
</head>
<body>
    <div align="center">
        <h3>Enter input dataflow information</h3>
        <form action="#" th:action="@{/addInputDataflow}" th:object="${EventTypeModel}" method="post">
            <div align="center">
                <fieldset class="myFieldSet">
                    <fieldset>
                        <legend>Input dataflow name</legend>
                        <p><input type="text" th:field="*{eventType}" /></p>
                    </fieldset>
                    <fieldset>
                        <legend>Event schema</legend>
                        <p><input type="text" th:field="*{properties}" /></p>
                    </fieldset>
                    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset"/></p>
                </fieldset>
            </div>
        </form>
        <div th:include="fragments/backToManagement :: inputDataflow"></div>
        <div th:include="fragments/footer :: footer"></div>
    </div>
</body>
</html>