<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <style type="text/css">
        .myFieldSet {
            display: inline-block;
        }
    </style>
</head>
<body>
    <div align="center">
        <h3>Enter one-stream output dataflow information</h3>
        <form action="#" th:action="@{/addOneStreamOutputDataflow}" th:object="${OutputDataflowModel}" method="post">
            <div align="center">
                <fieldset class="myFieldSet">
                    <fieldset>
                        <legend>Dataflow name</legend>
                        <p><input type="text" th:field="*{dataflowName}" /></p>
                    </fieldset>
                    <fieldset>
                        <legend>Event type</legend>
                        <p><input type="text" th:field="*{firstEventType}" /></p>
                    </fieldset>
                    <fieldset>
                        <legend>Output event type</legend>
                        <p><input type="text" th:field="*{outputEventType}" /></p>
                    </fieldset>
                    <fieldset>
                        <legend>EPL statement</legend>
                        <p><input type="text" th:field="*{query}" /></p>
                    </fieldset>
                    <fieldset>
                        <legend>Queue name</legend>
                        <p><input type="text" th:field="*{queueName}" /></p>
                    </fieldset>
                    <fieldset>
                        <legend>Exchange name</legend>
                        <p><input type="text" th:field="*{exchangeName}" /></p>
                    </fieldset>
                    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset"/></p>
                </fieldset>
            </div>
        </form>
        <div th:include="fragments/backToManagement :: outputDataflow"></div>
        <div th:include="fragments/footer :: footer"></div>
    </div>
</body>
</html>