<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet"
          th:href="@{/css/style.css}"
          href="../../css/style.css"/>
</head>
<body>
<div class="columns">
    <div class="leftColumn"/>

    <div class="middleColumn">
    <div align="center">
        <h3>Enter one-stream output dataflow information</h3>
        <div align="center">
            <!--@thymesVar id="availEventTypes" type="List"-->
            <div th:unless="${#lists.isEmpty(availEventTypes)}">
                <form action="#" th:action="@{/addOneStreamOutputDataflow}" th:object="${OutputDataflowModel}" method="post">
                    <fieldset class="myFieldSet">
                        <fieldset>
                            <legend>Event type</legend>
                            <p>
                                <select th:field="*{firstEventType}">
                                    <option th:each="sopt:${availEventTypes}" th:value="${sopt}" th:text="${sopt}">Available event types</option>
                                </select>
                            </p>
                        </fieldset>
                        <fieldset>
                            <legend>Output event type</legend>
                            <p><input type="text" th:field="*{outputEventType}" /></p>
                        </fieldset>
                        <fieldset>
                            <legend>EPL statement</legend>
                            <p><input type="text" th:field="*{query}" /></p>
                        </fieldset>
                        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset"/></p>
                    </fieldset>
                </form>
            </div>
            <div th:if="${#lists.isEmpty(availEventTypes)}">
                <div th:include="fragments/toEventTypeCreation :: createInputDataflow"></div>
            </div>
        </div>
        <div th:include="fragments/backToManagement :: outputDataflow"></div>
        <div th:include="fragments/footer :: footer"></div>
    </div>

        <div class="bottomLogoWrapper">
            <div class="bottomLogo"/>
        </div>
    </div>

    <div class="rightColumn"/>
    <div class="afterColumns"/>
</div>
</body>
</html>