<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet"
          th:href="@{/css/fieldset.css}"
          href="../../css/fieldset.css"/>
</head>
<body>
    <div align="center">
        <h3>Enter three-stream output dataflow information</h3>
        <form action="#" th:action="@{/addThreeStreamOutputDataflow}" th:object="${OutputDataflowModel}" method="post">
            <div align="center">
                <!--@thymesVar id="availEventTypes" type="List"-->
                <div th:unless="${#lists.isEmpty(availEventTypes)}">
                    <fieldset class="myFieldSet">
                        <fieldset>
                            <legend>First event type</legend>
                            <p>
                                <select th:field="*{firstEventType}">
                                    <option th:each="sopt:${availEventTypes}" th:value="${sopt}" th:text="${sopt}">Available event types</option>
                                </select>
                            </p>
                        </fieldset>
                        <fieldset>
                            <legend>Second event type</legend>
                            <p>
                                <select th:field="*{secondEventType}">
                                    <option th:each="sopt:${availEventTypes}" th:value="${sopt}" th:text="${sopt}">Available event types</option>
                                </select>
                            </p>
                        </fieldset>
                        <fieldset>
                            <legend>Third event type</legend>
                            <p>
                                <select th:field="*{thirdEventType}">
                                    <option th:each="sopt:${availEventTypes}" th:value="${sopt}" th:text="${sopt}">Available event types</option>
                                </select>
                            </p>
                        </fieldset>
                        <fieldset>
                            <legend>Output event type</legend>
                            <p>
                                <select th:field="*{outputEventType}">
                                    <option th:each="sopt:${availEventTypes}" th:value="${sopt}" th:text="${sopt}">Available queues</option>
                                </select>
                            </p>
                            <fieldset>
                                <legend>Create new output event type</legend>
                                <p><input type="text" th:field="*{outputEventType}" /></p>
                            </fieldset>
                        </fieldset>
                        <fieldset>
                            <legend>EPL statement</legend>
                            <p><input type="text" th:field="*{query}" /></p>
                        </fieldset>
                        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset"/></p>
                    </fieldset>
                </div>
                <div th:if="${#lists.isEmpty(availEventTypes)}">
                    <div th:include="fragments/toEventTypeCreation :: createEventType"></div>
                </div>
            </div>
        </form>
        <div th:include="fragments/backToManagement :: outputDataflow"></div>
        <div th:include="fragments/footer :: footer"></div>
    </div>
</body>
</html>