<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet"
          th:href="@{/css/style.css}"
          href="../../resources/static/css/style.css"/>
</head>
<body>
<div class="columns">
    <div class="leftColumn"></div>

    <div class="middleColumn">
    <div align="center">
        <h3>Creating two-stream output dataflow...</h3>
        <fieldset class="myFieldSet">
            <fieldset>
                <legend>Dataflow name</legend>
                <p th:text="${OutputDataflowModel.dataflowName}" ></p>
            </fieldset>
            <fieldset>
                <legend>Creation result</legend>
                <!--@thymesVar id="result" type="String"-->
                <p th:text="${result}" ></p>
            </fieldset>
        </fieldset>
        <div th:include="fragments/backToManagement :: outputDataflow"></div>
        <div th:include="fragments/footer :: footer"></div>
    </div>

        <div class="bottomLogoWrapper">
            <div class="bottomLogo"></div>
        </div>
    </div>

    <div class="rightColumn"></div>
    <div class="afterColumns"></div>
</div>
</body>
</html>