<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Welcome to the Esper Continuous Engine application!</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>
    <body>
        <div align="center">
            <h1>Esper Continuous Engine</h1>
            <p>
                This is Esper Continuous Engine, which allows you to add, remove and show event types,
                input dataflows (AMQP sources) and output dataflows (EPL statements and AMQP sinks) on the run.
            </p>
            <h2>Select your action:</h2>
            <fieldset>
                <!--@thymesVar id="rabbitMqInfo" type="boolean"-->
                <div th:if="${rabbitMqInfo}">
                    <p>
                    <form action="/manageEventTypes">
                        <p><input type="submit" align="center" value="Manage event types"/></p>
                    </form>
                    <form action="/manageInputDataflows">
                        <p><input type="submit" align="center" value="Manage input dataflows"/></p>
                    </form>
                    <form action="/manageOutputDataflows">
                        <p><input type="submit" align="center" value="Manage output dataflows"/></p>
                    </form>
                    </p>
                </div>
                <div th:unless="${rabbitMqInfo}">
                    <h2>RabbitMQ server is not responding</h2>
                    <p>
                    <form action="/">
                        <p><input type="submit" align="center" value="Reload page"/></p>
                    </form>
                    </p>
                </div>
            </fieldset>
        </div>
    </body>
</html>