<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet"
          th:href="@{/css/fieldset.css}"
          href="../../css/fieldset.css"/>
</head>
<body>
    <div align="center">
        <h1>Input dataflow management</h1>
        <p>
            Input dataflow management allows you to add and remove
            input dataflows, which represent AMQP stream sources
            and send upcoming events into Esper for querying.
        </p>
        <p>
        <fieldset class="myFieldSet">
            <fieldset>
                <legend>All input dataflows</legend>
                <div th:unless="${#lists.isEmpty(allInputDataflows)}">
                    <form action="#" th:object="${InputDataflowModel}">
                        <table>
                            <tbody>
                            <tr th:each="item : ${allInputDataflows}">
                                <td th:text="${item}" />
                                <td> <a th:action="GET" th:href="@{/removeInputDataflow/(dataflowName=${item})}">Delete</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
                <!--@thymesVar id="allInputDataflows" type="List"-->
                <div th:if="${#lists.isEmpty(allInputDataflows)}">
                    No event types present.
                </div>
            </fieldset>
        </fieldset>
        </p>
        <p>
        <form method="GET" action="/addInputDataflow">
            <input type="submit" align="center" value="Add input dataflow"/>
        </form>
        </p>
        <div th:include="fragments/footer :: footer"></div>
    </div>
</body>
</html>