<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet"
          th:href="@{/css/style.css}"
          href="../../resources/static/css/style.css"/>
</head>
<body>
<div class="columns">
    <div class="leftColumn"></div>

    <div class="middleColumn">
        <div align="center">
            <h1>Projection management</h1>
            <p>
                Projection management allows you to add and remove
                projections, which represent AMQP stream sources based on
                existing Esper exchanges and are used for sending
                upcoming events into Esper for querying.
                User can choose which event's properties
                should be present in projection.
            </p>
            <p>
            <fieldset class="myFieldSet">
                <fieldset>
                    <!--@thymesVar id="allInputDataflows" type="Map"-->
                    <legend>All projections</legend>
                    <div th:unless="${#maps.isEmpty(allInputDataflows)}">
                        <form action="#" th:object="${EventTypeModel}">
                            <table>
                                <tbody>
                                <tr th:each="item : ${allInputDataflows}">
                                    <td th:text="${item.key}" ></td>
                                    <td th:text="${item.value}" ></td>
                                    <td> <a th:action="GET" th:href="@{/removeInputDataflow/(dataflowName=${item.key})}">Delete</a></td>
                                </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                    <div th:if="${#maps.isEmpty(allInputDataflows)}">
                        No projections present.
                    </div>
                </fieldset>
            </fieldset>
            <p>
            <form method="GET" action="/addInputDataflow">
                <input type="submit" align="center" value="Add new projection"/>
            </form>
            <div th:include="fragments/footer :: footer"></div>
        </div>

        <div class="bottomLogoWrapper">
            <div class="bottomLogo"></div>
        </div>
    </div>

    <div class="rightColumn"></div>
    <div class="afterColumns"></div>
    </div>
</body>
</html>