<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <div align="center">
        <h1>Output dataflow management</h1>
        <p>
            Output dataflow management allows you to add, remove and show
            output dataflows, which represent queries bound to
            specific stream sources and their results are
            send via AMQP protocol as new stream.
        </p>
        <h2>Select your action:</h2>
        <p>
        <form method="GET" action="/addOneStreamOutputDataflow">
            <input type="submit" value="Add one-stream output dataflow"/>
        </form>
        </p>
        <p>
        <form method="GET" action="/addTwoStreamOutputDataflow">
            <input type="submit" value="Add two-stream output dataflow"/>
        </form>
        </p>
        <p>
        <form method="GET" action="/addThreeStreamOutputDataflow">
            <input type="submit" value="Add three-stream output dataflow"/>
        </form>
        </p>
        <p>
        <form method="GET" action="/removeOutputDataflow">
            <input type="submit" value="Remove output dataflow"/>
        </form>
        </p>
        <p>
        <form method="GET" action="/showOutputDataflows">
            <input type="submit" align="center" value="Show all output dataflows"/>
        </form>
        </p>
        <div th:include="fragments/footer :: footer"></div>
    </div>
</body>
</html>