<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet"
          th:href="@{/css/style.css}"
          href="../../css/style.css"/>
</head>
<body>
<div class="columns">
    <div class="leftColumn"/>

    <div class="middleColumn">
    <div align="center">
        <h1>Output dataflow management</h1>
        <p>
            Output dataflow management allows you to add and remove
            output dataflows, which represent queries bound to
            specific stream sources and their results are
            send via AMQP protocol as new stream.
        </p>
        <p>
        <fieldset class="myFieldSet">
            <fieldset>
                <!--@thymesVar id="allOutputDataflows" type="Map"-->
                <legend>All output dataflows</legend>
                <div th:unless="${#maps.isEmpty(allOutputDataflows)}">
                    <form action="#" th:object="${OutputDataflowModel}">
                        <table>
                            <tbody>
                            <tr th:each="item : ${allOutputDataflows}">
                                <td th:text="${item.key}" />
                                <td th:text="${item.value}" />
                                <td> <a th:action="GET" th:href="@{/removeOutputDataflow/(dataflowName=${item.key})}">Delete</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
                <div th:if="${#lists.isEmpty(allOutputDataflows)}">
                    No event types present.
                </div>
            </fieldset>
        </fieldset>
        </p>
        <p>
        <form method="GET" action="/addOneStreamOutputDataflow">
            <input type="submit" value="Add one-stream output dataflow"/>
        </form>
        </p>
        <p>
        <form method="GET" action="/addTwoStreamOutputDataflow">
            <input type="submit" value="Add two-stream output dataflow"/>
        </form>
        </p>
        <p>
        <form method="GET" action="/addThreeStreamOutputDataflow">
            <input type="submit" value="Add three-stream output dataflow"/>
        </form>
        </p>
        <div th:include="fragments/footer :: footer"></div>
    </div>

    <div class="bottomLogoWrapper">
        <div class="bottomLogo"/>
    </div>
    </div>

    <div class="rightColumn"/>
    <div class="afterColumns"/>
    </div>
</body>
</html>