<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <div align="center">
        <h1>Input dataflow management</h1>
        <p>
            Input dataflow management allows you to add, remove and show
            input dataflows, which represent AMQP event stream sources
            and send upcoming events into Esper for querying.
        </p>
        <h2>Select your action:</h2>
        <p>
        <form method="GET" action="/addInputDataflow">
            <input type="submit" align="center" value="Add input dataflow"/>
        </form>
        </p>
        <p>
        <form method="GET" action="/removeInputDataflow">
            <input type="submit" align="center" value="Remove input dataflow"/>
        </form>
        </p>
        <p>
        <form method="GET" action="/showInputDataflows">
            <input type="submit" align="center" value="Show all input dataflows"/>
        </form>
        </p>
        <div th:include="fragments/footer :: footer"></div>
    </div>
</body>
</html>