<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet"
          th:href="@{/css/style.css}"
          href="../../css/style.css"/>
</head>
<body>
<div class="columns">
    <div class="leftColumn"/>

    <div class="middleColumn">
        <div align="center">
            <h3>Are you sure you want to remove this projection?</h3>
            <!--@thymesVar id="dataflowName" type="String"-->
            <form action="#" th:action="@{/removeInputDataflow(dataflowName=${dataflowName})}" method="post">
                <div align="center">
                    <fieldset class="myFieldSet">
                        <fieldset>
                            <legend>Projection name</legend>
                            <p><label th:text="${dataflowName}"/></p>
                        </fieldset>
                        <p><input type="submit" value="Remove" /></p>
                    </fieldset>
                </div>
            </form>
            <div th:include="fragments/backToManagement :: inputDataflow"></div>
            <div th:include="fragments/footer :: footer"></div>
        </div>

        <div class="bottomLogoWrapper">
            <div class="bottomLogo"/>
        </div>
    </div>

    <div class="rightColumn"/>
    <div class="afterColumns"/>
</div>
</body>
</html>