<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet"
          th:href="@{/css/fieldset.css}"
          href="../../css/fieldset.css"/>
</head>
<body>
    <div align="center">
        <h3>Deleting event type...</h3>
        <div>
            <fieldset class="myFieldSet">
                <fieldset>
                    <legend>Event type name</legend>
                    <p th:text="${EventTypeModel.eventType}" />
                </fieldset>
                <fieldset>
                    <legend>Deletion result</legend>
                    <!--@thymesVar id="result" type="String"-->
                    <p th:text="${result}" />
                </fieldset>
            </fieldset>
        </div>
        <div th:include="fragments/backToManagement :: eventType"></div>
        <div th:include="fragments/footer :: footer"></div>
    </div>
</body>
</html>