<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet"
          th:href="@{/css/fieldset.css}"
          href="../../css/fieldset.css"/>
</head>
<body>
    <div align="center">
        <h3>Are you sure you want to remove this output dataflow?</h3>
        <!--@thymesVar id="dataflowName" type="String"-->
        <form action="#" th:action="@{/removeOutputDataflow(datafowName=${dataflowName})}" method="post">
            <div align="center">
                <fieldset class="myFieldSet">
                    <fieldset>
                        <legend>Dataflow name</legend>
                        <!--@thymesVar id="dataflowName" type="String"-->
                        <p><label th:text="${dataflowName}"/></p>
                    </fieldset>
                    <p><input type="submit" value="Remove" /></p>
                </fieldset>
            </div>
        </form>
        <div th:include="fragments/backToManagement :: outputDataflow"></div>
        <div th:include="fragments/footer :: footer"></div>
    </div>
</body>
</html>