<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <style type="text/css">
        .myFieldSet {
            display: inline-block;
        }
    </style>
</head>
<body>
    <div align="center">
        <h3>All input dataflows</h3>
        <fieldset class="myFieldSet">
            <fieldset>
            <legend>Result</legend>
                <div th:unless="${#lists.isEmpty(allInputDataflows)}">
                    <table>
                        <!--@thymesVar id="allInputDataflows" type="List"-->
                        <tr th:each="item : ${allInputDataflows}"><td th:text="${item}"/></tr>
                    </table>
                </div>
                <!--@thymesVar id="allInputDataflows" type="List"-->
                <div th:if="${#lists.isEmpty(allInputDataflows)}">
                    No input dataflows present.
                </div>
            </fieldset>
        </fieldset>
        <div th:include="fragments/backToManagement :: inputDataflow"></div>
        <div th:include="fragments/footer :: footer"></div>
    </div>
</body>
</html>